version: '3.8'

services:
  ganache:
    image: ganache-custom:1.0.0
    container_name: ganache
    ports:
      - "8545:8545"
    environment:
      - HOST=0.0.0.0
      - PORT=8545
      - NETWORK_ID=12345
      - ACCOUNTS=10
      - DEFAULT_BALANCE_ETHER=5000000
      - GAS_LIMIT=336098750000
      - GAS_PRICE=1000000000000000
    restart: unless-stopped 